.tooltipContainer {
    position: relative;
    display: inline-block;
}
  
.tooltipText {
    position: fixed; // Positioned relative to the viewport
    visibility: visible;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    z-index: 1000; // Ensure it's above other content
    white-space: nowrap; // Prevent text wrapping
}
  