
.wrapper {
    display: grid;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    min-height: 100vh;
    grid-template-columns: 15% 1fr;
    grid-template-rows: 5% 1fr;
    grid-template-areas: 
        "topbar topbar"
        "main main";
  
}
  
.topbar {
    grid-area: topbar;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0; 
    padding: 1rem;
    background-color: #007bff;
    color: white !important;
    
}

.burgerMenu {
    cursor: pointer;
}
.navbar {
    grid-area: navbar;
    width: 0;
    &.active{
        width: 100%;
    }
}