.createEventContainer {
  grid-area: main;
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding: 20px;
  background: #ffffff;
  box-sizing: border-box;

  
}

.createEventFormContainer {
  background: #ffff;;
  width: 100%;
  margin: auto;
  padding: 40px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  h1 {
    text-align: center;
  }
}

.createEventForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 10%;
  grid-template-areas: 
    "eventInfo owner"
    "eventInfo eventDetails"
    "button button";
  gap: 15px;
}

.formSection {
  background: #ffffff; // Optional: Different background for section distinction
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); // Soft shadow for depth
  display: flex;
  flex-direction: column;
  &.eventInfo{
    grid-area: eventInfo;
  }
}

.sectionTitle {
  margin-bottom: 15px; // Space between title and inputs
  color: #007bff; // Theme color for titles
  font-size: 20px; // Larger font size for section titles
}

.formInput,
.formInputDateTime,
.formInputEmail,
.formInputNumber,
.formTextArea {
  padding: 12px 15px;
  border: 2px solid #e1e4e8;
  border-radius: 6px;
  font-size: 16px;
  background-color: #fff;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  transition: border-color 0.2s;
  
  &:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.1), 0 0 0 2px rgba(0,86,179,0.2);
  }
}

.formTextArea {
  resize: vertical;
  min-height: 120px;
}

.submitButton {
  grid-area: button;
  padding: 12px 20px;
  width: 100%;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;

  &:hover {
    background-color: darken(#007bff, 10%);;
    transform: translateY(-2px);
  }

  &:active {
    transform: translateY(1px);
  }
}

.eventBoard {
  grid-area: info;
  margin: 2rem auto;
  border: 1px solid #e1e4e8;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  .header {
    background-color: #007bff;
    color: #ffffff;
    padding: 1rem;
  }

  .title {
    margin: 0;
    font-size: 1.75rem;
  }

  .dateTime {
    margin-top: 0.5rem;
    font-size: 1rem;
    opacity: 0.9;
  }

  .body {
    padding: 1rem;
  }

  .description {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .info {
    font-size: 0.9rem;
    p {
      margin: 0.5rem 0;
    }
  }

  .error {
    padding: 1rem;
    text-align: center;
    color: #d32f2f;
    font-size: 1rem;
  }
}