.attendeesSection {
    margin-top: 20px;
  
    .attendeesTitle {
      font-size: 1.5rem;
      margin-bottom: 10px;
      // Add any additional styles for the attendees title
    }
    .searchContainer {
      margin-bottom: 20px; // Add some margin to separate the input and button
  
      .searchInput {
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        font-size: 16px;
        width: 30%; // Expand input to fill the container
        margin-right: 10px; // Add some space between input and button
      }
    }
  
    .attendeesList {
      list-style: none;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr); // Display attendees in two columns
      gap: 20px; // Add some gap between the columns
  
      .attendee {
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 10px;
  
        p {
          margin: 5px 0;
          // Add any additional styles for the attendee paragraphs
        }
      }
    }
  
    .pagination {
      margin-top: 20px;
  
      .pageNumber {
        background-color: #e1e4e8;
        color: white;
        border: none;
        border-radius: 4px;
        padding: 5px 10px;
        margin-right: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
  
        &.active{
          background-color: #007bff;
        }
        &:hover {
          background-color: #0056b3;
        }
      }
    }
  }